body {
    background-color: rgb(187, 255, 156);
    display: flex;
    justify-items: center;
    align-items: center;
}

.all {
    height: 100px;
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(242, 255, 139);
    margin-right: 10%;
    margin-left: 38%;
    width: 300px;
    position: fixed;
}

.head {
    align-items: center;
    text-align: center;
    border: solid;
    height: 350px;
    margin-left: 450px;
    background-color: rgba(161, 224, 255, 0.748);
    width: 400px;
}

button {
    position: fixed;
    margin-top: 80px;
}